body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}

*{
  font-family: 'Courier Prime', monospace;
}

.svg-text{
  font-size: 13vw;
  color: white;
}


@media screen and (max-width: 768px) {
  .svg-text{
    font-size: 30vw;
  }
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.text-container{
  flex: 1;
  background-color: black;
}

.text-container .text-svg{
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 50px);
}

.text-svg > rect{
  -webkit-mask: url(#mask);
  mask: url(#mask);
}

.text-container .video-svg{
  width: 100%;
  height: calc(100% - 50px);
}

.footer-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  font-size: 14px;
  background-color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 200ms;
}

.footer-button:hover{
  background-color: red;
  color: white;
}
